.animation {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.animation-element {
  opacity: 1;
}
@media (min-width: 768px){
  .animation-element {
    opacity: 0;
  }
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);

}
.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}
.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-up {
  opacity: 0;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -moz-transform: translate3d(0, 100px, 0px);
  -webkit-transform: translate3d(0, 100px, 0px);
  -o-transform: translate(0, 100px, 0px);
  -ms-transform: translate(0, 100px, 0px);
  transform: translate3d(0, 100px, 0px);
}
.animation-element.slide-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-down {
  opacity: 0;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -moz-transform: translate3d(0, -100px, 0px);
  -webkit-transform: translate3d(0, -100px, 0px);
  -o-transform: translate(0, -100px, 0px);
  -ms-transform: translate(0, -100px, 0px);
  transform: translate3d(0, -100px, 0px);
}
.animation-element.slide-down.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*ANIMATION-DELAY SLIDE-LEFT*/
[class*=".animation-element.slide-left.delay-"] {
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
.animation-element.slide-left.delay-1.in-view {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.animation-element.slide-left.delay-2.in-view {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.animation-element.slide-left.delay-3.in-view {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.animation-element.slide-left.delay-4.in-view {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.animation-element.slide-left.delay-5.in-view {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/*ANIMATION-DELAY SLIDE-RIGHT*/
[class*=".animation-element.slide-right.delay-"] {
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
.animation-element.slide-right.delay-1.in-view {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.animation-element.slide-right.delay-2.in-view {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.animation-element.slide-right.delay-3.in-view {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.animation-element.slide-right.delay-4.in-view {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.animation-element.slide-right.delay-5.in-view {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/*ANIMATION-DELAY SLIDE-UP*/
[class*=".animation-element.slide-up.delay-"] {
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
.animation-element.slide-up.delay-1.in-view {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.animation-element.slide-up.delay-2.in-view {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.animation-element.slide-up.delay-3.in-view {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.animation-element.slide-up.delay-4.in-view {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.animation-element.slide-up.delay-5.in-view {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
}
/*ANIMATION-DELAY SLIDE-DOWN*/
[class*=".animation-element.slide-down.delay-"] {
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
.animation-element.slide-down.delay-1.in-view {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.animation-element.slide-down.delay-2.in-view {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.animation-element.slide-down.delay-3.in-view {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.animation-element.slide-down.delay-4.in-view {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.animation-element.slide-down.delay-5.in-view {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}