body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
@font-face {
	font-family: 'op-reg';
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: 'op-light';
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: 'op-bold';
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: 'op-extrabold';
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}
.page {
	width: 100%;
	background-color: white;
	padding: 40px;
}
.container {
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
}
.container-fluid {
	width: 100%;
	margin: 0;
}
.black {
	background-color: black;
}
/*CSS GRIDS*/
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
    border: none;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*FOOTER*/
#footer {
	height: auto;
	background-color: #141A21;
	color: white;
	font-family: 'op-light';
	font-size: 0.9em;
	padding: 0 40px;
	overflow: hidden;
}
#footer .row {
	position: relative;
	z-index: 5;
}
.batik-footer {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
}
#footer .batik-top-left {
	width: 190px;
	height: 190px;
	background-image: url(../img/footer-top-left.svg);
	background-repeat: no-repeat;
	background-position: top left;
}
#footer .batik-btm-left {
	position: absolute;
	left: 0;
	width: 190px;
	height: 190px;
	background-image: url(../img/footer-btm-left.svg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
#footer .batik-btm-right {
	position: absolute;
	/*bottom: -405px;*/
	right: 0px;
	width: 190px;
	height: 190px;
	background-image: url(../img/footer-btm-right.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.footer-1 {
	height: auto;
	padding: 40px 0 0 0;
	/*background-color: rgba(0,0,0,.7);*/
}
.footer-1 .col-8, .footer-1 .col-4 {
	border: none;
}
.footer-1 img {
	width: 110px;
}
.footer-2 {
	height: auto;
	padding: 0 0 40px 0;
}
.footer-2 .col-6 {
	border: none;
	padding: 5px 15px;
}
.footer-2 select {
	transition: all 1s ease;
	font-family: 'op-reg';
	font-size: 1em;
	padding: 5px;
	margin: 13px;
	border: none;
	background-color: #141A21;
	color: white;
	/*outline: 1px solid white;*/
}
.footer-2 select:focus {
	outline: none;
}
.footer-2 select option {
	padding: 10px;
}
ul.socials {
	list-style: none;
	float: right;
	/*padding: 40px;*/
}
ul.socials li {
	display: inline-block;
	padding-left: 40px;
	font-size: 1.3em;
}
ul.socials li a {
	color: white;
	opacity: .4;
}
ul.socials li a:hover {
	color: white;
	opacity: 1;
}
.footer-3 {
	border-top: 1px solid white;
	padding: 20px 10px;
	height: auto;
}
@media (max-width: 768px){
	#footer {
		font-size: 0.7em;
	}
	.footer-1 {
		height: auto;
		padding: 20px 0 0 0;
		/*background-color: rgba(0,0,0,.7);*/
	}
	.footer-1 img {
		width: 70px;
	}
	.footer-2 {
		height: auto;
		padding: 0;
	}
	.footer-2 .col-6 {
		width: 100%;
	}
	.footer-2 p {
		font-size: 1em;
	}
	ul.socials {
		float: none;
		-webkit-padding-start: 0;
		padding-bottom: 20px;
	}
	ul.socials li {
		display: inline-block;
		padding-left: 10px;
		font-size: 1.3em;
	}
	.footer-3 {
		padding: 10px 5px;
	}
	#footer .batik-top-left {
		width: 100px;
		height: 100px;
	}
	#footer .batik-btm-left {
		width: 100px;
		height: 100px;
		bottom: -240px;
		z-index: 10;
	}
	#footer .batik-btm-right {
		width: 100px;
		height: 100px;
		bottom: -240px;
	}
}
/*BREADCRUMBS*/
.breadcrumb {
	margin-top: 5px;
	padding: 10px 16px;
	list-style: none;
	background-color: black;
	width: 400px;
}
.breadcrumb li {
	display: inline;
	font-family: 'op-light';
	color: #D5D5D5;
	font-size: 0.9em;
}
.breadcrumb li+li:before {
	padding: 8px;
	color: #D5D5D5;
	content: "//\00a0";
}
.breadcrumb li a {
	color: #D5D5D5;
	text-decoration: none;
}
.breadcrumb li a:hover {
	color: white;
	/*text-decoration: underline;*/
}
@media (max-width: 768px){
	.breadcrumb {
		width: auto;
	}
}
/*HOTEL DETAIL*/
#hotel-header {
	height: 100vh;
	display: flex;
	align-items: center;
	padding-left: 120px;
}
.novotel {
	background-image: url(../img/tourism/hotel-novotel.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.doubletree {
	background-image: url(../img/tourism/hotel-doubletreehotel.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.four {
	background-image: url(../img/tourism/hotel-fourseason.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.mandapa {
	background-image: url(../img/tourism/hotel-mandapa.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.detail-text-header h1, .detail-text-header h5, .detail-text-header ul{
	margin: 10px;
	padding: 10px;
}
.detail-text-header h1 {
	font-family: 'op-extrabold';
	font-size: 4em;
	width: 70%;
	line-height: 1em;
	background-color: rgba(255,255,255,.5);
	color: black;
}
.detail-text-header h5 {
	font-family: 'op-light';
	width: 40%;
	font-size: 1.3em;
	background-color: rgba(255,255,255,.5);
	color: black;
	
}
@media (max-width: 768px){
	#hotel-header {
		height: 90vh;
		padding: 20px;
	}
	.detail-text-header h1 {
		font-size: 2em;
	}
	.detail-text-header h5 {
		font-size: 1em;
	}
	.breadcrumb li {
		font-size: 0.7em;
	}
}
.feature {
	background-color: #E2E2E2;
}
.feature .col-4, .feature .col-3, .feature .col-2 {
	padding: 30px;
	text-align: center;
	font-size: 1.4em;
	font-family: op-extrabold;
	cursor: pointer;
}
.feature .col-4:hover, .feature .col-3:hover, .feature .col-2:hover{
	background-color: #CACACA;
}
@media (max-width: 768px){
	.feature {
		padding: 10px;
	}
	.feature .col-4, .feature .col-3, .feature .col-2 {
		padding: 10px;
		width: 100%;
	}
}
#hotel-post {
	padding: 50px 200px;
	overflow: hidden;
}
#hotel-post p {
	font-family: 'op-reg';
	font-size: 1em;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}
@media (max-width: 768px){
	#hotel-post {
		padding: 30px;
	}
	#hotel-post p {
		font-family: 'op-reg';
		font-size: 0.9em;
		padding-bottom: 30px;
		border-bottom: 1px solid black;
	}
}
.article-container {
	padding: 0 70px
}
.more-detail {
	height: auto;
	overflow: hidden;
	color: white;
}
.more-detail .col-12 {
	background-color: #231F20;
	border: none;
	margin-bottom: 20px;
}
.detail-title {
	font-family: 'op-extrabold';
	color: white;
	font-size: 1em;
	padding: 10px 10px 20px 10px;
	border-bottom: 2px solid white;
	margin-bottom: 10px;
}
.nearest-destination-table {
	font-family: 'op-reg';
	border-spacing: 0;
	width: 100%;
}
.nearest-destination-table tr, td {
	/*border: 1px solid red;*/
}
.nearest-destination-table td {
	padding: 5px 10px;
	font-size: .9em;
}
.nearest-destination-table td span {
	font-family: 'op-bold';
}
.detail-map-position {
	font-family: 'op-light';
	font-size: 0.8em;
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
@media (max-width: 768px){
	#hotel-post .col-4 {
		width: 100%;
		padding: 0;
	}
	.article-container {
		width: 100%;
		padding: 0;
	}

}
/*POPUPS*/
.popup-bg-transparent-hotel {
	visibility: hidden;
	opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    transition-delay: 0s;
}
.popup-container-hotel {
	visibility: hidden;
	opacity: 0;
	position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    transition-delay: 0s;
}
.doubletree-popup {
	background-color: white;
	padding: 30px;
	z-index: 1001;
	width: 55%;
	height: 80%;
	overflow: hidden;
	left: 0;
	right: 0;
	transition: all .5s ease;
}
.doubletree-popup h1 {
	font-family: 'op-extrabold';
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	font-size: 1.5em;
}
.facility-list {

}
.facility-list li {
	padding: 5px;
	font-family: 'op-reg';
}
.popup-close-btn-hotel {
	color: white;
	font-size: 2.5em !important;
	position: absolute;
	right: 30px;
	top: 30px;
	transition: all .3s ease;
	/*transform: translate3d(500px,0,0);*/
	transition-delay: 0s;
	cursor: pointer;
	opacity: 0.8;
}
@media (max-width: 768px){
	.doubletree-popup {
		width: 85%;
		height: 60%;
	}
	.popup-title, .popup-caption {
		margin: 15px;
		color: black;
	}
	.popup-title {
		padding-bottom: 15px;
		font-size: 1.5em;
	}
	.popup-caption {
		font-size: .7em;
	}
}

/*DISCOVER-DETAIL*/
#discover-header {
	height: 100vh;
	display: flex;
	align-items: center;
	padding-left: 120px;
}
.detail-text-header h1, .detail-text-header h5, .detail-text-header ul{
	margin: 10px;
}
.detail-text-header h1 {
	font-family: 'op-extrabold';
	font-size: 4em;
	width: 70%;
	line-height: 1em;
}
.detail-text-header h5 {
	font-family: 'op-light';
	font-size: 1.3em;
}
#discover-header .detail-text-header h1, #discover-header .detail-text-header h5{
	color: white;
}
.balekambang {
	background-image: url(../img/pages/balekambang.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.brown {
	background-image: url(../img/pages/browncanyon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.watu {
	background-image: url(../img/pages/watulumpang.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
@media (max-width: 768px){
	#discover-header {
		height: 90vh;
		padding: 20px;
	}
	.detail-text-header h1 {
		font-size: 2em;
	}
	.detail-text-header h5 {
		font-size: 1em;
	}
	.breadcrumb li {
		font-size: 0.7em;
	}
}
#destination-post {
	padding: 50px 150px;
	overflow: auto;
	overflow-y: hidden;
}
#destination-post .col-12, #destination-post .col-4{
	/*border: 1px solid red;*/
}
#destination-post p {
	font-family: 'op-reg';
	font-size: 1em;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}
.destination-share-btn {
	list-style: none;
	float: left;
	padding: 5px;
	/*padding: 40px;*/
}
.destination-share-btn li {
	display: inline-block;
	padding-left: 0;
	padding-right: 20px;
	font-size: 1.3em;
}
.destination-share-btn li a {
	color: white;
	opacity: .7;
}
.destination-share-btn li a:hover {
	color: white;
	opacity: 1;
}
#destination-related-title {
	padding-top: 100px;
}
.destination-related-content {
	list-style: none;
	padding: 0 0 0 10px;
}
.destination-related-content li {
	font-size: 1em;
	padding-bottom: 8px;
}
.destination-related-content li a {
	color: white;
	opacity: 1;
	font-family: 'op-reg';
}
.destination-related-content li a:hover {
	opacity: 1;
}
@media (max-width: 768px){
	#destination-post {
		padding: 30px;
	}
	#destination-post p {
		font-family: 'op-reg';
		font-size: 0.9em;
		padding-bottom: 30px;
		border-bottom: 1px solid black;
	}
}
.backtotop {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 25px;
	z-index: 100;
	right: -150px;
	transition: all .5s ease;
}
.backtotop-show {
	right: 25px;
}
/*CULINARY*/
#culinary-header {
	height: 100vh;
	display: flex;
	align-items: center;
	padding-left: 120px;
}
.cingur {
	background-image: url(../img/tourism/cul-cingur.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.padang {
	background-image: url(../img/tourism/cul-padang.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.rawon {
	background-image: url(../img/tourism/cul-rawon.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.gudeg {
	background-image: url(../img/tourism/cul-gudeg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*DESTINATION*/
#destination-header {
	height: 100vh;
	display: flex;
	align-items: center;
	padding-left: 120px;
}
.borobudur {
	background-image: url(../img/destination/1borobudur.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.prambanan {
	background-image: url(../img/destination/2prambanan.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bromo {
	background-image: url(../img/destination/3bromo.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.tangkuban {
	background-image: url(../img/destination/4tangkuban.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*EVENTS*/
#events-header {
	height: 100vh;
	display: flex;
	align-items: center;
	padding-left: 120px;
}
.event-1 {
	background-image: url(../img/tourism/event-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.event-2 {
	background-image: url(../img/tourism/event-2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.event-3 {
	background-image: url(../img/tourism/event-3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.event-4 {
	background-image: url(../img/tourism/event-4.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.event-5 {
	background-image: url(../img/tourism/event-5.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.event-6 {
	background-image: url(../img/tourism/event-6.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}