/*NAVBAR*/
.black-transparent {
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0;
	position: fixed;
	z-index: 2;
	transition: all .5s ease;
	visibility: hidden;
}
.nav {
	position: fixed;
	width: 100%;
	transition: all .5s ease;
	z-index: 999;
	/*background-color: white;*/
}
.fil0 {
	fill: none;
}
.fil1 {
	fill: white;
}
.mobile-nav {
	background-color: none;
	padding: 0;
	width: 10%;
	float: left;
	text-align: center;
}
.mobile-nav svg {
	transition: all .5s ease;
	shape-rendering: geometricPrecision;
	text-rendering: geometricPrecision;
	image-rendering: optimizeQuality;
	fill-rule: evenodd;
	clip-rule: evenodd;
	height: 100px;
	padding: 20px 70px;
}
#toggle {
	display: none;
}
.menu {
	margin: 0;
	width: 100%;
	height: auto;
	display: block;
	padding: 0 30px;
	text-align: right;
}
.menu li {
	transition: all .5s ease;
	list-style: none;
	display: inline-block;
	padding: 40px 10px;
}
.menu a {
	color: white;
	font-family: 'op-light';
	padding: 15px;
	border-bottom: 0 solid rgba(255,255,255,0);
	transition: .3s ease;
}
.menu a i {
	visibility: visible;
}
.menu a.act {
	color: white;
	font-family: 'op-light';
	padding: 15px;
	border-bottom: 2px solid white;
}
.menu a.login-btn {
	color: black;
	background-color: #f2f2f2;
	font-family: 'op-light';
	padding: 10px 30px;
	border-bottom: 2px solid #f2f2f2	;
	border-radius: 5px;
}
.menu a:hover {
	border-bottom: 2px solid rgba(255,255,255,1);
}

@media (max-width: 768px){
	.fil1 {
		fill: black;
	}
	.nav {
		background-color: none;
		padding: 0;
		position: fixed;
	}
	.mobile-nav {
		width: 100%;
		background-color: white;
		padding: 0;
		text-align: left;
	}
	.mobile-nav svg {
		width: 40px;
		height: 60px;
		padding: 0;
	}
	#toggle {
		display: block;
		color: black;
		float: left;
		font-size: 1em;
		padding: 20px;
		cursor: pointer;
		z-index: 100;
	}
	.menu {
		/*display: none;*/
		/*margin: -75px;*/
		width: 100%;
		height: 0;
		list-style: none;
		padding: 0;	
		text-align: center;
		background-color: white;
		transition: .3s ease;
		overflow: hidden;
	}
	.menu li {
		display: block;
		padding: 20px;
		/*opacity: 0;*/
		/*transform: translateX(-50%);*/
		transition: .3s ease;
	}
	.menu a {
		color: black;
		font-family: 'op-light';
		font-size: 1em;
	}
	.menu a i {
		visibility: hidden;
		margin-left: -20px;
	}
	.menu a.act {
		color: black;
		font-family: 'op-light';
		font-size: 1em;
		border-bottom: 2px solid black;
	}
	.menu a.login-btn {
		color: white;
		background-color: #02B8B9;
		font-family: 'op-light';
		padding: 10px 30px;
		border-bottom: 2px solid #02B8B9	;
		border-radius: 5px;
	}
	.block {
		display: block;
	}
	.height-100 {
		height: 100vh;
		padding: 50px;
	}
}

/*NAVBAR*/
#nav-2 .fil0 {
	fill: none;
}
#nav-2 .fil1 {
	fill: black;
}
#nav-2 .mobile-nav {
	background-color: none;
	padding: 0;
	width: 10%;
	float: left;
	text-align: center;
}
#nav-2 .mobile-nav svg {
	transition: all .5s ease;
	shape-rendering: geometricPrecision;
	text-rendering: geometricPrecision;
	image-rendering: optimizeQuality;
	fill-rule: evenodd;
	clip-rule: evenodd;
	height: 100px;
	padding: 20px 70px;
}
#nav-2 #toggle {
	display: none;
}
#nav-2 .menu {
	margin: 0;
	width: 100%;
	height: auto;
	display: block;
	padding: 0 30px;
	text-align: right;
}
#nav-2 .menu li {
	transition: all .5s ease;
	list-style: none;
	display: inline-block;
	padding: 40px 10px;
}
#nav-2 .menu a {
	color: black;
	font-family: 'op-light';
	padding: 15px;
	border-bottom: 0 solid rgba(255,255,255,0);
	transition: .3s ease;
}
#nav-2 .menu a.act {
	color: black;
	font-family: 'op-light';
	padding: 15px;
	border-bottom: 2px solid black;
}
#nav-2 .menu a.login-btn {
	color: black;
	background-color: #f2f2f2;
	font-family: 'op-light';
	padding: 10px 30px;
	border-bottom: 2px solid #f2f2f2	;
	border-radius: 5px;
}
#nav-2 .menu a.login-btn:hover {
	border-bottom: 2px solid #f2f2f2;
}
#nav-2 .menu a:hover {
	border-bottom: 2px solid #f2f2f2;
}

@media (max-width: 768px){
	#nav-2 .fil1 {
		fill: black;
	}
	#nav-2 .nav {
		background-color: none;
		padding: 0;
		position: fixed;
	}
	#nav-2 .mobile-nav {
		width: 100%;
		background-color: white;
		padding: 0;
		text-align: left;
	}
	#nav-2 .mobile-nav svg {
		width: 40px;
		height: 60px;
		padding: 0;
	}
	#nav-2 #toggle {
		display: block;
		color: black;
		float: left;
		font-size: 1em;
		padding: 20px;
		cursor: pointer;
		z-index: 100;
	}
	#nav-2 .menu {
		/*display: none;*/
		/*margin: -75px;*/
		width: 100%;
		height: 0;
		list-style: none;
		padding: 0;	
		text-align: center;
		background-color: white;
		transition: .3s ease;
		overflow: hidden;
	}
	#nav-2 .menu li {
		display: block;
		padding: 20px;
		/*opacity: 0;*/
		/*transform: translateX(-50%);*/
		transition: .3s ease;
	}
	#nav-2 .menu a {
		color: black;
		font-family: 'op-light';
		font-size: 1em;
	}
	#nav-2 .menu a.login-btn {
		color: white;
		background-color: #02B8B9;
		font-family: 'op-light';
		padding: 10px 30px;
		border-bottom: 2px solid #02B8B9	;
		border-radius: 5px;
	}
	#nav-2 .block {
		display: block;
	}
	#nav-2 .height-100 {
		height: 100vh;
		padding: 50px;
	}
}

/*NAV DROPDOWN*/
#nav .menu-dropdown, #nav-2 .menu-dropdown {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 20;
	transition: all .5s ease;
	width: 100%;
	margin-top: 40px;
	left: 0;
	padding: 0;
	overflow-x: hidden;
}
#nav .menu-dropdown li, #nav-2 .menu-dropdown li {
	-webkit-transform: translate3d(0px, -500px, 0px);
	transform: translate3d(0px, -500px, 0px);
	transition: all .5s ease;
	height: 200px;
	list-style: none;
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
}
#nav .menu-dropdown a, #nav-2 .menu-dropdown a {
	font-family: 'op-extrabold';
	font-size: 2.5em;
	color: white!important;
	z-index: 20;
	/*width: 80%;*/
	height: 70%;
	border: none!important;
}
#nav .menu-dropdown a:hover, #nav-2 .menu-dropdown a:hover {
	border: none;
}
#nav .menu-dropdown-1, #nav-2 .menu-dropdown-1 {
	background: url('../img/tourism/dest-lamalera.jpg');
}
#nav .menu-dropdown-2, #nav-2 .menu-dropdown-2 {
	background: url('../img/tourism/hotel-novotel.jpg');
}
#nav .menu-dropdown-3, #nav-2 .menu-dropdown-3 {
	background: url('../img/tourism/cul-gudeg.jpg');
}
#nav .menu-dropdown-4, #nav-2 .menu-dropdown-4 {
	background: url('../img/tourism/event-4.jpg');
}
#nav .menu-dropdown span, #nav-2 .menu-dropdown span {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	z-index: 10;
	overflow: hidden;
	transition: all .5s ease;
}
.color-gradientblue {
	background: linear-gradient(to left, rgba(61, 125, 168, 0.45), rgba(255, 228, 122, 0.45));
	opacity: 1;
}
.color-red {
	opacity: 0;
	background-color: #02B8B9;
}
.menu-dropdown li:hover .color-gradientblue {
	opacity: 0;
}
.menu-dropdown li:hover .color-red {
	opacity: 0.9;
}