body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	/*overflow-x: hidden;*/
}
a {
	text-decoration: none;
}
@font-face {
	font-family: 'op-reg';
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: 'op-light';
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: 'op-bold';
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: 'op-extrabold';
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}
.page {
	width: 100%;
	background-color: white;
	padding: 40px;
}
.container {
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
}
.container-fluid {
	width: 100%;
	margin: 0;
}
.backtotop {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 25px;
	z-index: 100;
	right: -150px;
	transition: all .5s ease;
}
.shadow {
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.shadow:hover {
	box-shadow: 0 0 80px rgba(0,0,0,.2);
}
.shadow-card {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.shadow-card:hover {
	box-shadow: 0 0 30px rgba(0,0,0,.3);
}
.shadow-nohover {
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
/*CSS GRIDS*/
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*SECTIONS*/
#header {
	height: 100vh;
	background-image: url(../img/header.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#header svg {
	visibility: visible;
	width: 40px;
	position: absolute;
	bottom: 20px;
	margin: auto;
	left: 0;
	right: 0;
}
.scroll-outer {
	fill: white;
}
.scroll-inner {
	fill: white;
	animation: mouse-inner-up-down 1s infinite ease;
}
@keyframes mouse-inner-up-down {
  0%   {transform: translateY(0)}
  12.5%  {transform: translateY(-7px)}
  25%  {transform: translateY(-14px)}
  37.5%  {transform: translateY(-7px)}
  50%  {transform: translateY(0)}
  62.5%  {transform: translateY(7px)}
  75%  {transform: translateY(14px)}
  87.5%  {transform: translateY(7px)}
  100% {transform: translateY(0)}
}
@media (max-width: 768px){
	#header {
		height: 300px;
	}
	#header svg {
		visibility: hidden;
	}
}
#text {
	height: auto;
	display: flex;
	justify-content: center;
	padding: 130px 0;
	background-image: url("../img/batik.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}
.text-section {
	margin: -70px 0;
	position: absolute;
	/*border: 1px solid red;*/
	padding: 40px;
	width: 40%;
	background-color: white;
	border-radius: 5px;
}
#text q {
	font-family: 'op-reg';
	border-bottom: 2px solid #141A21;
	text-align: center;
	display: block;
	padding: 0 20px 40px 20px;
}
@media (max-width: 768px){
	#text {
		background-position: bottom;
	}
	#text q {
		font-size: 0.7em;
		padding: 0 20px 20px 20px;
	}	
	.text-section {
		margin: -90px 0;
		padding: 30px;
		width: 80%;
	}
}
#geography {
	padding: 100px 100px 40px 100px;
	height: auto;
}
.section-card-container, .section-card-8-container {
	border: none;
}
.section-card {
	border: none;
	padding: 15px;
}
.section-card-8 {
	padding: 0;
}
.section-card-8 img {
	width: 100%;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: -5px;
}
.section-card {
	background-color: #141A21;
	padding: 20px;
	border-radius: 5px;
}
.section-title {
	margin-left: 150px;
	width: 20%;
	padding-bottom: 40px;
	border-bottom: 2px solid #141A21;
	margin-bottom: 50px;
}
.section-title-1 {
	font-family: 'op-extrabold';
	margin: 0;
}
.section-title-2 {
	margin: 0;
	font-family: 'op-reg';
	display: none;
}
.div-title-1, .div-title-2, .div-btn-1 {
	color: white;
	margin: 0;
}
.div-title-1 {
	font-family: 'op-extrabold';
	font-size: 2.5em;
	margin: 20px 0 20px 0;
}
.div-title-2 {
	font-family: 'op-reg';
	font-family: 1em;
	margin: 0 0 40px 0;
}
.div-btn-1 {
	margin: 0;
	background: linear-gradient(45deg, #5f2c82, #49a09d);
	background-size: 200%;
	background-position: -10px;
	font-family: 'op-bold';
	padding: 15px;
	text-align: center;
	display: block;
	border: 2px solid rgba(0,0,0,0);
	transition: all .5s ease;
	border-radius: 3px;
}
.div-btn-1:hover {
	background-position: -200px;
	border: 2px solid #3A1B4F;
}
@media (max-width: 768px) {
	.section-title {
		margin-left: 0;
		width: 100%;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	#geography {
		padding: 40px;
	}
	.section-card-8-container, .section-card-container {
		width: 100%;
		border: none;
		padding: 0;
	}
	.section-card-8 img {
		border-radius: 5px 5px 0 0 !important;
	}
	.section-card {
		border-radius: 0 0 5px 5px;
	}
	.section-title-2 {
		display: block;
	}
	.div-title-1, .div-title-2, .div-btn-1 {
		margin: 25px 0;
	}
	.div-title-1 {
		font-size: 2em;
	}
	.div-title-2 {
		font-size: 0.9em;
	}
	.div-btn-1 {
		padding: 10px;
		margin-bottom: 0;
	}
}

#discover {
	padding: 40px 100px;
	height: auto;
}
.section-card-container, .section-card-8-container {
	border: none;
}
.section-card {
	border: none;
	padding: 15px;
}
.section-card-8 {
	padding: 0;
}
.section-card-8 img {
	width: 100%;
	border-radius: 5px;
}
/*SLIDESHOW*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /*border-radius: 0 3px 3px 0;*/
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.discover-slider-caption {
	font-family: 'op-extrabold';
	margin-bottom: 5px;
	color: #f2f2f2;
	font-size: 2em;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@-webkit-keyframes slide {
	from {left: 0;}
	to {left: -100px;}
}
@keyframes slide {
	from {left: 0;}
	to {left: -100px;}
}
@media (max-width: 768px) {
	.section-title {
		margin-left: 0;
		width: 100%;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	#discover {
		padding: 40px;
	}
	#discover .section-card-8 img {
		border-radius: 0 0 5px 5px !important;
	}
	#discover .section-card {
		border-radius: 5px 5px 0 0;
	}
	.discover-slider-caption {
		margin-bottom: 0;
		font-size: 1em;
		padding: 4px 12px;
		bottom: 4px;
	}
}
/*FIND*/
#find {
	height: 300px;
	padding: 120px;
	background: linear-gradient(to left, rgba(61, 125, 168, 0.45), rgba(255, 228, 122, 0.45)), url(../img/bridge.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 50px 0;
}
form.section-searchform input[type=text] {
	padding: 20px;
	font-size: 1em;
	border: none;
	float: left;
	width: 80%;
	background: #ffffff;
}
form.section-searchform button {
	float: left;
	width: 20%;
	padding: 20px;
	background: #2A2B2B;
	color: white;
	font-size: 1em;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
form.section-searchform button:hover {
  background: #000;
}
form.section-searchform::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 768px){
	#find {
		height: 200px;
		padding: 75px 25px;
		margin: 0;
	}
	form.section-searchform input[type=text] {
		padding: 15px;
		font-size: 0.6em;
	}
	form.section-searchform button {
		padding: 15px;
		font-size: 0.6em;	
	}
}
/*TOURISM*/
#tourism {
	padding: 40px 100px;
}
#tourism .row {
	margin: 0 130px;
}
#tourism .col-12 {
	height: 80px;
}
#tourism .col-6, .col-12 {
	border: none;
}
.tourism-col {
	height: 300px;
	width: 100%;
	padding: 0;
	/*border: 1px solid red;*/
	transition: all 1s ease;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}
.tourism-col figure {
	margin: 0;
	overflow: hidden;
}
.tourism-figure-img {
	width: 120%;
	display: block;
	transform: translate3d(0,0,0);
	position: relative;
	transition: all .5s ease;
}
.tourism-image-caption {
	position: absolute;
	top: 0;
	bottom: 0;
	height: inherit;
	width: inherit;
	padding: 0em 6.5em;
	color: white;
	font-size: 1em;
	background: #134e5e;
	background: linear-gradient(to right, rgba(18, 76, 92, .7), rgba(112, 178, 129, .7));
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
	z-index: 10;
}
.tourism-hotel {
	padding: 0 9.5em;
}
.tourism-culinary {
	padding: 0 8.5em;
}
.tourism-events {
	padding: 0 9.5em;
}
.tourism-image-caption h1 {
	font-family: 'op-extrabold';
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 2em;
	transform: translate3d(-45px,-8px,0);
	transition: all .5s ease;
}
.tourism-col:hover .tourism-figure-img{
	transform: translate3d(-20px,0,0);
}
.tourism-col:hover .tourism-image-caption {
	visibility: visible;
	opacity: 1;
}
.tourism-col:hover .tourism-image-caption h1 {
	transform: translate3d(0,-8px,0);
	opacity: 1;
}
@media (max-width: 768px){
	.tourism-col {
		width: 100%;
		height: auto;
	}
	.tourism-image-caption {
		padding: 0em 5.5em;
	}
	.tourism-image-caption h1 {
		margin-bottom: 5px;
		line-height: 1em;
		font-size: 1em;
		transform: translate3d(0,35px,0);
	}
	.tourism-col:hover .tourism-figure-img{
		transform: translate3d(0,0,0);
	}
	.tourism-col:hover .tourism-image-caption {
		visibility: visible;
		opacity: 1;
	}
	.tourism-col:hover .tourism-image-caption h1 {
		transform: translate3d(0,10px,0);
		opacity: 1;
	}
	.tourism-hotel {
		padding: 0 7em;
	}
	.tourism-culinary {
		padding: 0 6.3em;
	}
	.tourism-events {
		padding: 0 7em;
	}
}
.section-link-btn {
	margin: 30px 145px;
	width: 200px;
	background: linear-gradient(45deg, #5f2c82, #49a09d);
	background-size: 200%;
	background-position: -10px;
	padding: 10px;
	color: white;
	font-size: 1em;
	font-family: 'op-reg';
	text-align: center;
	display: block;
	border: 2px solid rgba(0,0,0,0);
	transition: all .5s ease;
	border-radius: 3px;
}
.section-link-btn:hover {
	background-position: -150px;
	border: 2px solid #3A1B4F;
}
@media (max-width: 768px){
	#tourism {
		padding: 40px;
	}
	#tourism .row {
		margin: 0;
	}
	#tourism .row .col-6 {
		width: 100%;
		margin: 10px 0;
		padding: 0;
	}
	#tourism .col-12 {
		height: 60px;
	}
	.section-link-btn {
		padding: 10px;
		margin: 30px auto;
		width: 100%;
		background-color: #00CACA;
		font-family: 'op-bold';
		text-align: center;
		display: block;
	}
	
}
/*GALLERY*/
#gallery {
	padding: 90px 50px;
	height: auto;
	/*background-color: yellow;*/
}
.section-gallery {
	margin-left: 200px;
}
#gallery .container {
	padding: 0;
}
.gallery-card-container, .gallery-card {
	border: none;
}
.gallery-card {
	height: 270px;
	padding: 20px;
	position: relative;
	overflow: hidden;
	z-index: 4;
	transition: all .5s ease;
	border-radius: 10px;
}
.color-gradientblack, .color-gradientgreen {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
	transition: all .5s ease;
}
.color-gradientblack {
	background: linear-gradient(to left, rgba(46, 46, 46, .7), rgba(23, 23, 23, .7));
	z-index: 5;
	opacity: 1
}
.color-gradientgreen {
	background: linear-gradient(to right, rgba(18, 76, 92, .7), rgba(112, 178, 129, .7));
	z-index: 5;
	opacity: 0;
}
.gallery-card-title, .gallery-card-caption, .gallery-card-btn {
	margin: 0;
	position: relative;
	z-index: 10;
	transition: all .5s ease;
}
.gallery-card-title {
	font-family: 'op-extrabold';
	font-size: 2em;
	width: 100%;
	color: white;
}
.gallery-card-caption {
	font-family: 'op-reg';
	font-size: .9em;
	color: white;	
}
.gallery-card-btn {
	font-family: 'op-reg';
	display: block;
	background-color: white;
	text-align: center;
	padding: 15px;
	margin: auto -20px 0 -20px;
	cursor: pointer;
}
.gallery-type {
	float: right;
	background-color: #EEEEEE;
	padding: 15px;
	margin: -15px;
}
.one-line-gallery-title h1 {
	margin-bottom: 25px;
	margin-top: 40px;
	transform: translate3d(0,50px,0);
}
.one-line-gallery-title p {
	margin-bottom: 55px;
	transform: translate3d(0,160px,0);
}
.one-line-gallery-title a {
	transform: translate3d(0,280px,0);
}
.two-line-gallery-title h1 {
	margin-bottom: 20px;
	margin-top: 20px;
	transform: translate3d(0,50px,0);
}
.two-line-gallery-title p {
	margin-bottom: 35px;
	transform: translate3d(0,160px,0);
}
.two-line-gallery-title a {
	transform: translate3d(0,280px,0);
}
.barong {
	background: url('../img/gallery/barong.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.love {
	background: url('../img/gallery/poster-2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.frame {
	background: url('../img/gallery/frame.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
@media (max-width: 768px){
	#gallery {
		padding: 40px;
	}
	.section-gallery {
		margin: 0 0 30px 0;
	}
	#gallery .container {
		padding: 0;
		width: 100%;
	}
	.gallery-card-container {
		width: 100%;
	}
	.gallery-card {
		height: 210px;
		padding: 15px;
	}
	.gallery-card-title {
		font-family: 'op-extrabold';
		font-size: 1.8em;
		width: 100%;
		color: white;
	}
	.gallery-card-caption {
		font-size: .8em;
	}
	.gallery-card-btn {
		padding: 10px;
		margin: auto -20px 0 -20px;
		cursor: pointer;
	}
	.gallery-type {
		padding: 10px;
		margin: -10px;
	}
	.one-line-gallery-title h1 {
		margin-bottom: 10px;
		margin-top: 30px;
		transform: translate3d(0,50px,0);
	}
	.one-line-gallery-title p {
		margin-bottom: 40px;
		transform: translate3d(0,160px,0);
	}
	.one-line-gallery-title a {
		transform: translate3d(0,280px,0);
	}
	.two-line-gallery-title h1 {
		line-height: 1.2em;
		margin-bottom: 10px;
		margin-top: 15px;
		transform: translate3d(0,40px,0);
	}
	.two-line-gallery-title p {
		margin-bottom: 25px;
		transform: translate3d(0,160px,0);
	}
	.two-line-gallery-title a {
		transform: translate3d(0,280px,0);
	}
}
/*POPUPS*/
.popup-bg-transparent {
	visibility: hidden;
	opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    transition-delay: 0s;
}
.popup-container {
	position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    transform: translate3d(0,1000px,0);
    transition-delay: 0s;
}
.vidinc-popup, .barong-popup, .love-popup, .karapan-popup, .negeri-popup, .kecak-popup, .reog-popup, .frame-popup, .wayang-popup {
	background-color: white;
	/*transform: translate3d(0,500px,0);*/
	z-index: 1001;
	width: 55%;
	height: 90%;
	overflow: hidden;
	/*margin: auto;*/
	left: 0;
	right: 0;
	transition: all .5s ease;
}
.barong-popup img, .love-popup img, .karapan-popup img, .negeri-popup img, .kecak-popup img, .reog-popup img, .wayang-popup img {
	width: 100%;
}
.popup-title, .popup-caption {
	margin: 20px;
}
.popup-title {
	font-family: 'op-extrabold';
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	font-size: 2em;
}
.popup-caption {
	font-family: 'op-reg';
	font-size: .9em;
}
.popup-close-btn {
	color: white;
	font-size: 2.5em !important;
	position: absolute;
	right: 30px;
	top: 30px;
	transition: all .3s ease;
	transform: translate3d(500px,0,0);
	transition-delay: 0s;
	cursor: pointer;
	opacity: 0.8;
}
@media (max-width: 768px){
	.vidinc-popup, .barong-popup, .love-popup, .karapan-popup, .negeri-popup, .kecak-popup, .reog-popup, .frame-popup, .wayang-popup {
		width: 85%;
		height: 60%;
	}
	.vidinc-popup iframe, .frame-popup iframe {
		width: 100%;
		height: 45%;
	}
	.barong-popup img {
		width: 100%;
	}
	.popup-title, .popup-caption {
		margin: 15px;
		color: black;
	}
	.popup-title {
		padding-bottom: 15px;
		font-size: 1.5em;
	}
	.popup-caption {
		font-size: .7em;
	}
}
/*FOOTER*/
#footer {
	height: auto;
	background-color: #141A21;
	color: white;
	font-family: 'op-light';
	font-size: 0.9em;
	padding: 0 40px;
	overflow: hidden;
}
#footer .row {
	position: relative;
	z-index: 5;
}
.batik-footer {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
}
#footer .batik-top-left {
	width: 190px;
	height: 190px;
	background-image: url(../img/footer-top-left.svg);
	background-repeat: no-repeat;
	background-position: top left;
}
#footer .batik-btm-left {
	position: absolute;
	left: 0;
	width: 190px;
	height: 190px;
	background-image: url(../img/footer-btm-left.svg);
	background-repeat: no-repeat;
	background-position: bottom left;
}
#footer .batik-btm-right {
	position: absolute;
	/*bottom: -405px;*/
	right: 0px;
	width: 190px;
	height: 190px;
	background-image: url(../img/footer-btm-right.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.footer-1 {
	height: auto;
	padding: 40px 0 0 0;
	/*background-color: rgba(0,0,0,.7);*/
}
.footer-1 .col-8, .footer-1 .col-4 {
	border: none;
}
.footer-1 img {
	width: 110px;
}
.footer-2 {
	height: auto;
	padding: 0 0 40px 0;
}
.footer-2 .col-6 {
	border: none;
	padding: 5px 15px;
}
.footer-2 select {
	transition: all 1s ease;
	font-family: 'op-reg';
	font-size: 1em;
	padding: 5px;
	margin: 13px;
	border: none;
	background-color: #141A21;
	color: white;
	/*outline: 1px solid white;*/
}
.footer-2 select:focus {
	outline: none;
}
.footer-2 select option {
	padding: 10px;
}
ul.socials {
	list-style: none;
	float: right;
	/*padding: 40px;*/
}
ul.socials li {
	display: inline-block;
	padding-left: 40px;
	font-size: 1.3em;
}
ul.socials li a {
	color: white;
	opacity: .4;
}
ul.socials li a:hover {
	color: white;
	opacity: 1;
}
.footer-3 {
	border-top: 1px solid white;
	padding: 20px 10px;
	height: auto;
}
@media (max-width: 768px){
	#footer {
		font-size: 0.7em;
	}
	.footer-1 {
		height: auto;
		padding: 20px 0 0 0;
		/*background-color: rgba(0,0,0,.7);*/
	}
	.footer-1 img {
		width: 70px;
	}
	.footer-2 {
		height: auto;
		padding: 0;
	}
	.footer-2 .col-6 {
		width: 100%;
	}
	.footer-2 p {
		font-size: 1em;
	}
	ul.socials {
		float: none;
		-webkit-padding-start: 0;
		padding-bottom: 20px;
	}
	ul.socials li {
		display: inline-block;
		padding-left: 10px;
		font-size: 1.3em;
	}
	.footer-3 {
		padding: 10px 5px;
	}
	#footer .batik-top-left {
		width: 100px;
		height: 100px;
	}
	#footer .batik-btm-left {
		width: 100px;
		height: 100px;
		bottom: -240px;
		z-index: 10;
	}
	#footer .batik-btm-right {
		width: 100px;
		height: 100px;
		bottom: -240px;
	}
}
